<%- include('./partials/header'); %>
<div class="my-container">
  <div class="button-container"><a href="/magic?bet=100&id=<%- userId %>" class="btn-grad">100</a></div>
  <div class="button-container"><a href="/magic?bet=200&id=<%- userId %>" class="btn-grad">200</a></div>
  <div class="button-container"><a href="/magic?bet=300&id=<%- userId %>" class="btn-grad">300</a></div>
</div>

<script>
</script>
  <%- include('./partials/footer'); %>

